:root {
    --max-width: 1440px;
    --top--banner--height: 3.5rem;
    --loading-bg--color: white;
    --document--bg--color: white;
    --tag--color: #f7f2fa;
    --grid--top--column: 3;
    --grid--gap: 24px;
    --modal--bg: rgba(0, 0, 0, 0.4);
    --header--border-bottom: rgba(0, 0, 0, 0.4);
}
@font-face {
    font-family: "GowunDodum-Regular";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    font-family: "GowunDodum-Regular";
}

/* 모달 스타일링 시작 */
#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 999;
    background-color: var(--modal--bg);
}
.modal__content {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    width: 90vw;
    height: 90vh;
    background-color: white;
    padding: 0 0 2rem 0 ;
    box-sizing: border-box;
}
.modal__content * {
    max-width: 100%;
}

.modal__figcap {
    height: 3rem;
    font-size: 1.5rem;
}

.modal__picture-wrapper {
    height: calc(100% - 3rem);
}

.modal__picture-wrapper * {
    height: 100%;
    object-fit: contain;
}

/* 모달 스타일링 끝 */

/* 헤더 스타일링 시작 */
.top-banner {
    width: 100%;
    height: var(--top--banner--height);
}

.top-banner strong {
    font-size: 2rem;
}

.top-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: var(--document--bg--color);
    border-bottom: 1px solid var(--header--border-bottom);
}
.top-header__keyword-list,
.top-header__keyword-list * {
    margin: 0;
}
.top-header__keyword-list {
    display: flex;
    column-gap: 2rem;
    align-items: center;
}

.top-header__keyword-item {
    display: block;
    font-size: 1.5rem;
    list-style-type: none;
}
.top-header__keyword-item sup {
    align-self: start;
    margin-left: 0.3rem;
    font-size: 1.5rem;
}
/* 헤더 스타일링 끝 */

/* 메인 스타일링 시작 */
.main {
    margin-inline: auto;
    max-width: var(--max-width);
    background-color: var(--document--bg--color);
    min-height: 200vh;
}

.main__banner {
    height: 300px;
    padding: 0 var(--grid--gap);
}
.main__banner-content {
    width: 100%;
    height: 100%;
    font-size: 10rem;
}

.main__grid-container {
    display: grid;
    padding: 24px;
    grid-template-columns: repeat(var(--grid--top--column), minmax(0, 1fr));
    column-gap: var(--grid--gap);
    align-items: start;
}

.main__grid-column {
    display: flex;
    flex-direction: column;
    row-gap: var(--grid--gap);
}
.main__grid-column * {
    max-width: 100%;
}

/* 메인 스타일링 끝 */

/* 커스텀 스타일 선언 시작 */

.io {
    height: 100px;
    border: 4px solid red;
}

.hidden {
    display: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skeleton {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background: linear-gradient(90deg, #e0e0e0 25%, #f8f8f8 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
}
/* 커스텀 스타일 선언 끝 */

@keyframes loading {
    from {
        background-position: 200% 0;
    }

    to {
        background-position: -200% 0;
    }
}

@media (max-width: 768px) {
    :root {
        --grid--top--column: 2;
    }
}

@media (max-width: 425px) {
    .grid--top {
        --grid--top--column: 1;
    }
}
